* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first {
  padding: 40px 15px;
  text-align: center;
  color: #fff;
  background-color: #6425CB;
}
.second {
  padding: 40px 0;
  position: relative;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.content p {
  font-size: 18px;
  margin-bottom: 15px;
}
.content h1 {
  font-size: 44px;
  margin-bottom: 20px;
}
.block {
  background-color: #fff;
  border-radius: 20px;
  max-width: 1000px;
  width: 80%;
  text-align: center;
  padding: 30px;
  z-index: 10;
  border: 3px solid;
  margin: 0 auto;
  position: relative;
}

.block h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.block p {
  margin-bottom: 15px;
}

img {
  width: 100%;
}
.bg {
  height: 200px;
  width: 100%;
  background-color: #6425CB;
}
.bg-wrapper {
  position: absolute;
  top: 0;
  z-index: 9;
}